*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #FFFFFF;
    --text-color: #000000;
    --main-color: #236622;
    --second-color: #83D0AB;
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

body{
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 13%;
    transition: all .40s ease;
}

.logo img{
    width: 160px;
    max-width: 100%;
    height: auto;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 22px;
    transition: all .40s ease;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar li i{
    font-size: 11px;
    padding: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--second-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 20001;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    padding: 10px 10px;
    transition: all .50s ease;
}

.dropdown-content p:hover {
    color: white;
    background-color: var(--main-color);
}
section{
    padding: 100px 11%;
}

.home{
    padding-top: 150px;
    padding-right: 0px;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    background: #3DE4AF;
    background-image: url(./img/2.png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 2rem;
}

.home-text h1{
    margin: 10px  0px 25px;
    font-size: 67px;
    line-height: 1;
    font-weight: 600;
}

.home-text p{
    margin-bottom: 23px;
    font-size: var(--p-font);
    color: black;
    line-height: 28px;
    letter-spacing: 3px;
}
.social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
    transition: all .30s ease;
}

.social a:hover{
    transform: scale(1.1);
    background: var(--main-color);
}

.btn{
    position: relative;
    width: 200px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
    color: var(--bg-color);
    background-image: linear-gradient(#83D0AB, #236622);
    padding: 10px 40px;
    font-size: var(--p-font);
    line-height: 24px;
    font-weight: 500;
    transition: all ease .40s;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: 'Order Now';
    transition: all .3s;
}

.btn::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    content: 'Shop Now';
    transition: all .3s;
}
.btn:hover::before {
    top: -60px;
}
.btn:hover::after{
    top: 0;
}

.btn i {
    font-size: var(--p-font);
}

.btn:hover{
    background: var(--main-color);
}
.home-img img{
    max-width: 100%;
    width: 680px;
    height: 520px;
}

.home-img :first-child{
    position: relative;
    z-index: 2;
}
.home-img :last-child {
    position: relative;
    height: 300px;
    width: 300px;
    z-index: 1;
    margin-top: -980px;
    transform: rotate(360deg);
    margin-left: -90px;
}

.endorsements {
    width: 100%;
    padding-top: 20px;
}
.endorsements .container{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-items: center;
}

.container img{
    width: 200px;
}

.products {
    padding-top: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3rem;
    background: url(./img/5.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 2% 75%;
}

.products .header-text {
    font-size: 35px;
    color: #236622;
    font-weight: 200;
    text-align: left;
}

.products .body-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 3rem;
}

.body-text .container-box {
    align-items: left;
    justify-content: left;
    display: inline-block
}

.container-box img{
    width: 80px;
}

.container-box h3{
    padding: 10px;
    text-align: left;
    justify-content: left;
    transition: all .40s ease;
}

.container-box h3:hover{
    color: var(--second-color);
}

.container-box p{
    color: #A9A9A9;
}

.our-products {
    position: relative;
    width: 100%;
    background-size: contain;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.our-products::before {
    content: "";
    background-image: url(./img/6.png);
    background-repeat: repeat;
    background-size: 900px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.our-products .center-text {
    text-align: center;
}

.center-text h3 {
    position: relative;
    font-size: 40px;
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.products-here {
    margin-top: 20px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.product-box img {
    width: 300px;
    margin-right: -320px;
    align-items: center;
}

.product-box :first-child {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 90px;
    margin-right: -350px;
    z-index: 1;
}

.product-box :nth-child(2) {
    position: relative;
    z-index: 2;
    margin-bottom: 60px;
}

.product-box a{
    text-align: center;
    margin-left: 50px;
    position: relative;
    width: 300px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
    color: var(--bg-color);
    background-image: linear-gradient(#83D0AB, #236622);
    padding: 10px 40px;
    font-size: var(--p-font);
    line-height: 24px;
    font-weight: 500;
    transition: all ease .10s;
    cursor: pointer;
    border: 1px solid grey;
}   

.product-box a::before {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: 'View Product';
    color: black;
    transition: all .3s;
    border: none;
    outline: none;
}

.product-box a::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    content: 'Detail Product';
    transition: all .3s;
    background-image: linear-gradient(#83D0AB, #236622);
}
.product-box a:hover::before {
    top: -60px;
    border: none;
    outline: none;
}
.product-box a:hover::after{
    top: 0;
    border: none;
    outline: none;
}

.pro-section {
    width: 100%;
    background-image: url(https://demo2.strongtheme.com/vitpro/wp-content/uploads/sites/4/2021/07/viticon010.png);
    background-size: 600px;
    background-position: center;
    background-repeat: no-repeat;

}
.pro-section .center-text {
    text-align: center;
    margin-bottom: 20px;
}

.pro-section .center-text h3 {
    position: relative;
    font-size: 45px;
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.pro-section .first-text {
    text-align: center;
}

.first-text .small-header {
    display: flex;
    flex-direction: right;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
}

.small-header img {
    width: 40px;
    margin-right: -20px;
}

.small-header h3 {
    font-weight: 400;
    color: #25AC6C;
    font-size: 20px;
}

.first-text p {
    color: grey;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
}

.content {
    display: flex;
    flex-direction: right;
    width: 100%;
}

.content .left-side {
    text-align: left;
    align-items: left;
    justify-content: left;
}

.content .left-side .first-text {
    margin-bottom: 130px;
}

.left-side .first-text .small-header {
    position: relative;
    text-align: left;
    justify-content: left;
}

.left-side .first-text .small-header img {
    margin-right: -30px;
}

.content .imgs {
    width: 300px;
}

.imgs img {
    width: 200px;
}